@tailwind base;
@tailwind components;
@tailwind utilities;


.footText{
  @apply  hover:text-blue-600 duration-100 p-1 m-2 text-sm
}


.stroke-text {
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.397); /* 2px stroke width and black color */
}



body,html{
    cursor: url('/pointer.png'), auto;
}

/* audio {
  width: 115px;
  height: 25px;
} */

audio::-webkit-media-controls-panel {
  -webkit-justify-content: center;
  height: 28px;
}

/* Removes the timeline */
/* audio::-webkit-media-controls-timeline {
  display: none !important;
} */

/* Removes the time stamp */
audio::-webkit-media-controls-current-time-display {
  display: none;
}
audio::-webkit-media-controls-time-remaining-display {
  display: none;
}



/* scrollbar */


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* audio::-webkit-media-controls-volume-slider, video::-webkit-media-controls-volume-slider {
  display: block;
  background-color: black;
  border: initial;
  color: inherit;
  margin: initial;
} */
/* audio::-webkit-media-controls-volume-slider-mute-button {
  -webkit-appearance: media-volume-slider-mute-button;
  display: inline;
  background-color: initial;
  border: initial;
  color: inherit;
} */

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
